@font-face {
    font-family: 'Futura-Lig';
    src: url('font/Futura-Lig.eot'); /* IE9 Compat Modes */
    src: url('font/Futura-Lig.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('font/Futura-Lig.woff') format('woff'), /* Pretty Modern Browsers */
         url('font/Futura-Lig.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('font/Futura-Lig.svg#svgFontName') format('svg'); /* Legacy iOS */
  }

  @font-face {
    font-family: 'Futura-Med';
    src: url('font/Futura-Med.eot'); /* IE9 Compat Modes */
    src: url('font/Futura-Med.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('font/Futura-Med.woff') format('woff'), /* Pretty Modern Browsers */
         url('font/Futura-Med.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('font/Futura-Med.svg#svgFontName') format('svg'); /* Legacy iOS */
  }

  @font-face {
    font-family: 'Futura-Dem';
    src: url('font/Futura-Dem.eot'); /* IE9 Compat Modes */
    src: url('font/Futura-Dem.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('font/Futura-Dem.woff') format('woff'), /* Pretty Modern Browsers */
         url('font/Futura-Dem.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('font/Futura-Dem.svg#svgFontName') format('svg'); /* Legacy iOS */
  }

  @font-face {
    font-family: 'Futura-Bol';
    src: url('font/Futura-Bol.eot'); /* IE9 Compat Modes */
    src: url('font/Futura-Bol.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('font/Futura-Bol.woff') format('woff'), /* Pretty Modern Browsers */
         url('font/Futura-Bol.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('font/Futura-Bol.svg#svgFontName') format('svg'); /* Legacy iOS */
  }

html {
    scroll-behavior: smooth;

}

body {
    font-family: "Futura-Lig" !important;
    overflow-x:hidden;
}

b {
    font-family: "Futura-Med" !important;
    font-weight: 400 !important;
}

h1.pageName {
    font-size:2.2rem;
    font-family:"Futura-Dem"!important;
}

h2 {
    font-size:1.5rem !important;
    font-family:"Futura-Med";
}

span.pageTxt {
    font-size:1.2rem;
}

.sygnet {
    width:72px;
}

#menu a{
    color:#bbb;
}

#top {
    min-height:130px;
    background: #fff;
}

.bgLeftHome {
    background-color: #85a3e1;
    height: 100%;
    width: 50%;
    position: absolute;
    z-index: 1;
}




.homeBackground {
    background: url('img/home.jpg') no-repeat center top;
    background-size: cover;
    min-height: 950px;
    margin-top:135px !important;
}


.homeLogo {
    width:422px;
    margin-top:15%;
}


.homeBackgroundText {
    width:59%;
    z-index: 20;
    min-height:285px;
    background: #85a3e1;
    /* margin-bottom:-335px; */
}

.homeBackgroundText h1 {
    color:#fff;
    font-size:2.2rem;
    font-family:"Futura-Med" !important;
    font-weight: 400;
}

.arrowDown {
    width:16px;
}

.arrowRight {
    width:18px;
    display: flex;
    align-self: center;
}

.buttonRounded {
    background: #3266cc;
    border-radius:50px;
    font-size:0.9rem;
    font-family: "Futura-Med" !important;
    padding:15px 70px 15px 20px;
    color:#fff;
    text-transform: uppercase;
    overflow: hidden;
}

.buttonRounded:hover {
    -webkit-box-shadow: 0px 15px 15px -5px rgba(50,102,204,0.5);
    -moz-box-shadow: 0px 15px 15px -5px rgba(50,102,204,0.5);
    box-shadow: 0px 15px 15px -5px rgba(50,102,204,0.5);
    text-decoration: none;
    color:#fff;
}

a.bg-white:hover {
    -webkit-box-shadow: 0px 15px 15px -5px rgba(38, 75, 150, 0.7);
    -moz-box-shadow: 0px 15px 15px -5px rgba(38, 75, 150, 0.7);
    box-shadow: 0px 15px 15px -5px rgba(38, 75, 150, 0.7);
}

a.blackHoverShadow:hover {
    -webkit-box-shadow: 0px 15px 15px -5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 15px 15px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 15px 15px -5px rgba(0, 0, 0, 0.4);
}

.btnTxt {
    padding-top:3px;
}

.bluePrimaryTxt {
    color: #3266cc !important;
}

.grayTxt {
    color:#7f8289 !important;
    font-size:1.2rem;
}

.secondaryTxt {
    color:#7f8289 !important;
}


/* Expierience */

.dotsBg {
    right:0;
    z-index:-1;
    margin-top:-250px;
}

.expierienceSection {
    margin-top:50px;
    min-height: 550px;
}

.expIcon {
    width:80%;
    z-index: 20;
}

.expierienceTxt {
    font-size:1.2rem;
    color:#7f8289;
}
/* Offer  */

.bgLeftOffer {
    background-color: #3266cc;
    height: 100%;
    width: 50%;
    position: absolute;
    z-index: -1;
}

.offerSection {
    min-height: 480px;
    width:100%;
}

.offerBackground {
    background: url(img/offer_bg.png) no-repeat left top;
    background-size: 100%;
    min-height: 480px;
    z-index:2;
}

/* Team */

.teamSection {
    min-height: 580px;
}


.profilePhoto {
    width:145px;
    height:145px;
    border-radius:50%;
    overflow: hidden;
}

.teamName {
    font-size:1.6rem;
    font-family: "Futura-Bol" !important;
    text-transform: uppercase;
}

.teamRole {
    font-size:1.2rem;

}

.stopka {
    background:#e5e5e5;
    min-height:209px;
    color:#7f8289;
    overflow:hidden;
}

.footerCompany {
    color:#000;
    font-family: "Futura-Dem" !important;
    font-size:1.1rem;
}


.stopka a {
    color:#fff;
    font-size:1.3rem;
}


/* Navigation */

nav {
    width: 100%;
    height: 100%;
    display:flex !important;
}

nav ul {
    margin-top: auto !important;
    margin-bottom: auto !important;
    margin-right:-30px;
}

nav li {
    display: inline-block;
    position: relative;
}
nav li a {
    color: #A5A9B1;
    text-decoration: none;
    padding: 11px 30px;
    font-family: "Futura-Dem" !important;
    text-transform: uppercase;
    font-size: 16px;
    transition: 0.5s;
}
nav li a:hover {
    color: #3266cc !important;
    text-decoration: none;
    background: none;
}
nav li a span {
    width: 25px;
    margin: 0 auto;
}
nav li a:hover:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-top: solid #85a3df 10px;
    top: -53px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    width: 0;
    animation:slide-in-top .4s ease-in-out both;
}

nav li a.active {
    color: #3266cc !important;
    text-decoration: none;
    background: none;
}

nav li a.active:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-top: solid #85a3df 10px;
    top: -53px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    width: 0;
    animation:slide-in-top .4s ease-in-out both;
}



@keyframes slide-in-top{0%{transform:translateY(-53px);opacity:0}100%{transform:translateY(0);opacity:1}}
@keyframes scale-in-center{0%{transform:scale(0);opacity:1}100%{transform:scale(1);opacity:1}}

#navTop {
    min-height: 135px;
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100vh;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    right: 0;
    top: 0;
    background-color: #3266cc; /* Black fallback color */
    overflow: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    text-align: right; /* Centered text/links */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 1rem 0;
    text-decoration: none;
    font-size: 1.5rem;
    color: #AEC9FF;
    text-transform: uppercase;
    font-family:"Futura-Bol" !important;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #fff;
    text-decoration: none;
  }

  a.politykaPrywatnosci {
    color:#000;
    text-decoration: underline;
    font-size:1.2rem;
    text-transform: none;
    font-family:"Futura-Lig" !important;
  }

  

.primaryBg {
    background-color: #3266cc !important;
}

/*  */
/* Offer Page*/
/*  */

.offerPageBackground {
    background: url('img/oferta.jpg') no-repeat center top;
    background-size: cover;
    min-height: 950px;
    color:#fff;
}

.offerPageBackgroundBox{
    min-height:370px;
    background:rgba(0,0,0,.5);
    color:#fff;
    font-size:1.4rem;
    border-left:1px solid #fff;

}

.offerBorderedBox {
    border:1px solid #cccccc;
}

.iconOffer {
    width:28%;
}

h1.categoryOffer {
    font-size:2rem;
    color:#A5A9B1;
}

span.categoryTxt {
    font-size:1.2rem;
}

ul.offerList {
    list-style: none;
    padding-inline-start: 15px;
    margin-top:1rem !important;
  }
  
  ul.offerList li::before {
    content: "\2022";
    color: #3367cd;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }

  .buttonBlackShadow {
    -webkit-box-shadow: 0px 15px 15px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 15px 15px -5px rgba(0,0,0,0.5);
    box-shadow: 0px 15px 15px -5px rgba(0,0,0,0.5);
  }

    /*  */
    /* About us */
    /*  */

    .bgLayerPage1 {
        background:#3266cc;
        width:35%;
        height:100%;
    }

    .bgLayerPage2 {
        /* width:32%; */
        width:45%;
        margin-left:-1px;
        height: 100%;
        background: #3266cc;
        clip-path: polygon(100% 100%, 0% 100%, 0 0);
    }
    
    .bgLayerPage3 {
        align-self:flex-end;
        width:33%;
        height: 70%;
        background: #AEC9FF;
        clip-path: polygon(100% 100%, 100% 0, 0 100%);
    }

    .aboutUsPageBackground {
        background: url('img/onas.jpg') no-repeat center top;
        background-size: cover;
        min-height: 950px;
        color:#fff;
    }
    

    /*  */
    /* Team */
    /*  */

    .teamPersonBox {
        min-height:588px;
        border-top:1px solid #cccccc;
        border-bottom:1px solid #cccccc;
    }

    .teamPersonPhoto {
        width:420px;
    }

    .teamWatermark {
        left:0;
    }

    /*  */
    /* Experience page */
    /*  */

    .experiencePageBackground {
        background: url('img/doswiadczenie.jpg') no-repeat center top;
        background-size: cover;
        min-height: 950px;
        color:#fff;
    }

    .experiencePageBackgroundBox{
        min-height:622px;
        color:#7E828A;
        border-left:1px solid #fff;
        font-size:1.2rem;
        line-height: 2rem;
    
    }

    .experienceWatermark {
        right:0;
        margin-right:4.5%;
    }

    .progressBox {
        height:4px;
        width:100%;
        background: #AEC9FF;
        overflow: hidden;
    }

    .mySlides {
        min-height:290px;
        align-items:center;
    }

    .progressLine {
        height:4px;
        width:20%;
        background: #AEC9FF;
    }
    .sliderNumber sup {
        font-family:"Futura-Bol" !important;
    }
    /* Add a background color to the active dot/circle */
    .active, .dot:hover {
        background-color: #3266cc;
    }

    .sliderNumber {
        font-size:2rem;
    }

    .rightArrow {
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }

    .cursor {
        cursor:pointer;
    }

     /*  */
    /* Contact */
    /*  */

    .contactPageBox {
        min-height:550px;
    }

    a.mailContact {
        font-size:2.5rem;
        font-family: "Futura-Bol" !important;
        color:#3366CC;
    }

    .formBox {
        background:#fff;
        width:100%;
        box-shadow:0 .5rem 1rem rgba(0,0,0,.15);
    }
    
@media (max-width: 1366px) {
}

@media (min-width: 1200px) {
    .container {
        max-width: 1040px !important;
    }
}

@media (max-width: 1024px) {
    h1.pageName {
        font-size:2.2rem;
        color:#3266cc;
        font-family:"Futura-Dem"!important;
    }
    
    span.pageTxt {
        font-size:1.2rem;
        color:#000;
        border-bottom:1px solid #000;
    }

    .container-fluid {
        padding: 0 !important;
    }
    .homeBackground {
        background: url('img/home.jpg') no-repeat center top;
        background-size: cover;
        min-height: 100vh;
        margin-top:0 !important;
    }
    
    

    .homeLogo {
        margin-top:70%;
        width:70%;
    }
    
    .homeBackgroundText {
        width:100%;
        min-height:285px;
        background: #85a3e1;
    }
    
    .homeBackgroundText h1 {
        color:#fff;
        font-size:2rem;
        font-family:"Futura-Med" !important;
        font-weight: 400;
    }
    
    .arrowDown {
        width:40px;
    }

    .expierienceSection {
        margin-top:50px;
        min-height: auto;
    }

    .buttonRounded{
        width:100%;
        padding:20px 25px;
    }

    .offerSection {
        min-height: auto;
    }
    
    .offerBackground {
        background: url(img/offer_bg.png) no-repeat center center;
        background-size: cover;
    }
    .stopka {
        min-height:auto;
    }


    /*  */
    /* Offer Page*/
    /*  */

    .iconOffer {
        width:100%;
    }

    .offerBorderedBox {
        border:1px solid #cccccc;
        border-left:none;
        border-right:none;
    }

    .offerPageBackground {
        background: none;
    }

    .offerPageBackgroundBox{
        min-height:auto;
        background:none;
        color:#000;
        font-size:1.2rem;
        border-left:none;
        border-bottom:1px solid #3266cc;
    }

    .buttonBlackShadow {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }
    
      h1.categoryOffer {
        font-size:1.6rem;
        color:#A5A9B1;
    }
    
    span.categoryTxt {
        font-size:1.2rem;
    }

    /*  */
    /* About us */
    /*  */

    .aboutUsPageBackground {
        background: none;
        min-height: auto;
    }

    /*  */
    /* Team */
    /*  */

    .teamPersonBox {
        min-height:auto;
        border:none;
    }

    .border-none {
        border:none !important;
    }

    /*  */
    /* Experience page */
    /*  */

    .experiencePageBackground {
        background:none;
    }

    .experiencePageBackgroundBox{
        min-height:622px;
        color:#7E828A;
        border-left:1px solid #fff;
        font-size:1.2rem;
        line-height: 2rem;
    }
    

    .sliderNumber {
        font-size:2rem;
    }

     /*  */
    /* Contact */
    /*  */

    a.mailContact {
        font-size:1.5rem;
    }

    .formBox{
        box-shadow:none;
    }
    .fixed-header {
        position: relative !important;
        padding:0 !important;
    }
    

}

.img-fluid {
    width:100%;
    min-width:auto !important;
}

@media (max-width: 768px) {
    #top {
        background:none;
    }
}

@media (max-width: 414px) {
    
}


@media (min-width: 1680px) {
    .container {
        max-width: 1380px !important;
    }
}

/* @media (min-width: 1200px) {
    .container {
        max-width: 1380px !important;
    }
} */

@media (min-width: 1850px) {
    #stopkaMail {
        margin-right:-168px;
    }
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding:0 15px;
    z-index: 889;
}

.fixed-boxHome {
    position: fixed;
    bottom:0;
    z-index:889;
    width:100%;
}